.infoPage {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mb_block {
  margin-bottom: 80px;
  @media (min-width: 768px) {
    margin-bottom: 87px;
  }
}
.bg-white {
  background-color: #ffffff;
}
.text_info {
  position: sticky;
  mix-blend-mode: difference;
  top: 20px;
  margin-bottom: 80px;
  @media (min-width: 768px) {
    padding-left: 45px;
    margin-bottom: 0;
  }
  @media (min-width: 992px) {
    padding-left: 0px;
  }
}
.inner_text_info {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 350px;
  }
  @media (min-width: 992px) {
    margin-bottom: 450px;
  }
}
.right_content {
  @media (max-width: 767.98px) {
    position: sticky;
    mix-blend-mode: difference;
    top: 20px;
  }
}